body{
    width: 100%;
    max-width: 100%;
    height: 100%;
    margin: 0;
    padding: 3px;

}
header{
    width: 100%;;
    max-width: 100%;
    height: 20px;
    margin: auto;
    padding: 2rem 0;
    display: flex;
    background-color:hsl(194, 93%, 11%);
    justify-content: space-between;align-items: center;
    border-bottom: solid;
    border-color: tomato;



}
.logo{
    border-radius: 50px;
    height: 60px;
    margin-left: 10px;
    border: solid;
    border-color: black;
}
.logo:hover{
    transform: scale(6);
    
}
nav a{

    margin: 0.2rem;
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    padding-right: 20px;

    
}
nav a:hover{
    color: black;
    text-decoration: none;
    background-color:yellow;
    border-radius: 5px;

}
.princ{
    height: 400px;
    background-image: url(ground.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: solid 10px;
    border-color: tomato;  
}
.alerte{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    text-align: center;

}
/* alerte a retire apres*/
@keyframes anin{
    0%{transform: scale(1);}
    50%{transform: scale(1.1);}
    100%{transform: scale(1);}

    
}
/* alerte a retire apres*/
.prin{
    background-color: red;
    width: 50%;
    align-content: center;
    margin: auto;
    padding: 2rem;
    border-radius: 30px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation: anin 0.6s infinite ease-in-out;
}

h1{
    
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    

}
h1:hover{
    color:tomato;
    cursor: pointer;
    transform:scaleX(2);
    transition: all 1500ms;
}
#services{
    width: 90%;
    max-width: 100%;
    height: auto;
    margin: auto;
    align-content: center;
}
.service{
    display: inline-flexbox;
    flex-direction: column;
    background-color: #0a1d24;
    padding: 0.5rem;
    box-shadow: 2px 4px tomato ;
    border-radius: 80px 2px 80px 2px;
    margin-bottom: 2rem;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    width: 90%;
    animation: anim 10s infinite ease-in-out;
}
.tit{
    display: inline-block;
    color: tomato;
    text-align: center;
    border: dashed 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 6px;

}
.service:hover {
    color:black;
    background-color: grey;
    box-shadow: 2px 4px black ;
   
}
@keyframes anim{
    0%{transform: scale(1);}
    50%{transform: scale(1.1);}
    100%{transform: scale(1);}

    
}
#about{
    width: 80%;
    max-width: 80%;
    color: white;
    font-size: 20px;
    background-color: #01455e;
    padding: 2rem;
    box-shadow: 2px 4px tomato;
    border-radius: 20px;
    align-content: center;
    margin: 2rem auto; /* Ajoute cette ligne pour centrer */
}
.abouts{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    color: black;
    border-left: solid 4px tomato;
    border-right: solid 4px tomato;
    
}
